<h1>Processing</h1>
<p>Showing <%= jobs.count %> of <%= @activity_stats["processing"] %></p>
<table role="grid">
  <tr>
    <td>ID</td>
    <td>Perform at</td>
    <td>Worker</td>
    <td>Queue</td>
    <td>Params</td>
    <td>Attempts</td>
    <td>Last error</td>
  </tr>
  <% jobs.each do |job| %>
    <tr>
      <td><%= job.job_id %></td>
      <td><%= job.perform_at %></td>
      <td><%= job.worker_class_name %></td>
      <td><%= job.queue %></td>
      <td><%= job.worker_params %></td>
      <td><%= job.retries %></td>
      <td>
        <%= job.error_class %> - <%= job.error_message %>
        <br/>
        <%= job.error_backtrace.first %>
      </td>
    </tr>
  <% end %>
</table>

